--- 
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "Gallery";
---
<BaseLayout title = {title}>

	<p>
	Gallery - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat vitae, et nesciunt mollitia laboriosam cumque, quo harum praesentium voluptatum recusandae nam cum perferendis quia, excepturi illo eaque veniam labore in.
	</p>
</BaseLayout>