---
const links = [ "Home", "About", "Gallery", "Contact" ]; 

// Create object vartiable

const navData = 
[
    {
        href:"/",
        text:"Home",
        divider:" | ",
    },
    {
        href:"/about/",
        text:"About",
        divider:" | ",
    },
    {
        href:"/gallery/",
        text:"Gallery",
        divider:" | ",
    },
    {
        href:"/contact/",
        text:"Contact",
        divider:"",
    },
]
---

<!-- <nav>
    <a href="/">Home</a> | <a href="/about/">About</a> | <a href="/gallery/">Gallery</a>
</nav> -->
<!-- <ul>
    {links.map(  (links) => <li> {links} </li>)   }
</ul> -->

<nav>
    <ul>
    {
        navData.map((item) => ( <> <li> <a href={item.href}> {item.text} </a> </li>
        <span class="divider">{item.divider}</span> </>) )
    }
    </ul>
</nav>
<style>
    ul
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background-color: white;
    }
    li
    {
        padding: 0 .5rem;
        background-color: white;
    }
    span.divider
    {
        display: none;
    }

    @media screen and (min-width: 600px)
    {
        ul
        {
            flex-direction: row;
        }
        span.divider
        {
            display: inline;
        }
    }


</style>